# Ignore Python artifacts
__pycache__/
*.py[cod]
*.egg-info/

# Ignore virtual environments
.venv/

# Ignore environment files
.env
.env.*

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Ignore all data
data/

# Except keep these subfolders and files
!data/DB_pdfs/
!data/DB_manual_raw/
!data/README.md
!data/LICENSE.docbank
!data/LICENSE.ground_truth

# Editor/IDE config
.vscode/
.idea/

# Ingore editing parameters
.continue/